ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
  
  li  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  

 .login-container{
    float: right;

 }
 .login-btn{
    border: none;
    color: azure;
    background: none;
    font-size: 15px;
 }
 .login-btn:hover{
    cursor: pointer;
 }