
.modal-content{
    background-color: rgb(126, 138, 151);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    height: 250px;
    width: 250px;
 
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}